<mat-toolbar class="second-toolbar">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="sidenavtwo.toggle()"
    [ngClass]="{ hidden: deviceMd }"
  >
    <fa-icon
      aria-label="Side nav toggle icon"
      [icon]="menu"
      size="lg"
    ></fa-icon>
  </button>
  <span>Datos</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #sidenavtwo
    [opened]="deviceMd"
    role="navigation"
    [mode]="deviceMd ? 'side' : 'over'"
  >
    <mat-nav-list>
      <a mat-list-item [routerLink]="['current']">Actual</a>
      <a mat-list-item [routerLink]="['line']">Hist&oacute;rico</a>
      <a mat-list-item [routerLink]="['circle']">Todos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
