<footer class="bg-dark text-light">
  <div class="pl-5 pr-5" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!deviceSm">
    <div>
      <p>
        2020 &copy; para M&eacute;xico con
        <span class="text-danger">
          <fa-icon [icon]="heart"></fa-icon>
        </span>
        por Julio C&eacute;sar Melchor Pinto
      </p>
    </div>
    <div>
      <a mat-icon-button href="https://github.com/JulioMelchorPinto" target="_blank" aria-hidden="false">
        <fa-icon [icon]="github" size="lg"></fa-icon>
      </a>
      <a mat-icon-button href="https://twitter.com/MelchorPinto" target="_blank" aria-hidden="false">
        <fa-icon [icon]="twitter" size="lg"></fa-icon>
      </a>
      <a mat-icon-button href="https://facebook.com/jmelchorp" target="_blank" aria-hidden="false">
        <fa-icon [icon]="facebook" size="lg"></fa-icon>
      </a>
      <a mat-icon-button href="https://linkedin.com/in/jmelchorp" target="_blank" aria-hidden="false">
        <fa-icon [icon]="linkedin" size="lg"></fa-icon>
      </a>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="deviceSm">
    <div>
      2020 &copy; para M&eacute;xico con
      <span class="text-danger">
        <fa-icon [icon]="heart"></fa-icon>
      </span>
      por Julio C&eacute;sar Melchor Pinto
    </div>
    <div>
      <p>
        <a mat-button href="https://github.com/JulioMelchorPinto" target="_blank" aria-hidden="false">
          <fa-icon [icon]="github" size="lg"></fa-icon>
        </a>
        <a mat-icon-button href="https://twitter.com/MelchorPinto" target="_blank" aria-hidden="false">
          <fa-icon [icon]="twitter" size="lg"></fa-icon>
        </a>
        <a mat-icon-button href="https://facebook.com/jmelchorp" target="_blank" aria-hidden="false">
          <fa-icon [icon]="facebook" size="lg"></fa-icon>
        </a>
        <a mat-icon-button href="https://linkedin.com/in/jmelchorp" target="_blank" aria-hidden="false">
          <fa-icon [icon]="linkedin" size="lg"></fa-icon>
        </a>
      </p>
    </div>
  </div>
</footer>
