<header>
  <mat-toolbar [class.mat-elevation-z10]="true">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <button mat-button [routerLink]="['/']">
          <fa-icon [icon]="virus" size="2x"></fa-icon>
        </button>
        <!--buttons disappear on Xs devices-->
        <div *ngIf="!deviceXs" fxLayout="row">
          <!--           <button mat-button [routerLink]="['module-two']">Module 2</button>
 -->
          <button mat-button [routerLink]="['statistics/current']">
            Datos
          </button>
        </div>
        <!---->
      </div>
      <div fxLayout="row">
        <button
          mat-icon-button
          [matMenuTriggerFor]="langs"
          aria-label="Example icon-button with a menu"
        >
          <fa-icon [icon]="lang" size="lg"></fa-icon>
        </button>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <fa-icon [icon]="dots" size="lg"></fa-icon>
        </button>
      </div>
    </mat-toolbar-row>
    <!--mat-toolbar-row displayed on Xs devices-->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between center">
      <!--       <button mat-button [routerLink]="['module-two']">Module 2</button>
 -->
      <button mat-button [routerLink]="['statistics']">Datos</button>
    </mat-toolbar-row>
    <!---->
  </mat-toolbar>
  <!-- Menu Items -->
  <mat-menu #menu="matMenu" fxLayoutAlign="end">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <mat-menu #langs="matMenu" fxLayoutAlign="end">
    <button mat-menu-item>
      <mat-icon
        svgIcon="es"
        aria-hidden="false"
        aria-label="español flag icon"
      ></mat-icon>
      Espa&ntilde;ol
    </button>
    <button mat-menu-item>
      <mat-icon
        svgIcon="en"
        aria-hidden="false"
        aria-label="english flag icon"
      ></mat-icon>
      English
    </button>
  </mat-menu>
  <!---->
</header>
