<div class="jumbotron">
  <div class="pt-3 text-center">
    <mat-icon svgIcon="covid" aria-hidden="false" aria-label="covid icon"></mat-icon>
    <p class="display-4 app-name">
      Coronavirus MX
    </p>
    <p class="mat-h1">
      Informaci&oacute;n sobre la pandemia causada por el virus SARS-CoV2.
    </p>
  </div>
</div>
<img src="assets/background/covid-banner-alfa.jpg" class="img-fluid position-absolute" [ngStyle]="{ width: '100%'}" />
<div class="pl-2 pr-2 py-5">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
    <div fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
      <mat-card [class.mat-elevation-z6]="true" class="mb-2">
        <mat-card-header>
          <mat-card-title>
            Información
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
      <mat-card [class.mat-elevation-z6]="true" class="mb-2">
        <mat-card-header>
          <mat-card-title>
            Datos
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
      <mat-card [class.mat-elevation-z6]="true" class="mb-2">
        <mat-card-header>
          <mat-card-title>
            Datos
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </div>
