<div class="jumbotron">
  <div class="pt-3 text-center">
    <mat-icon
      class="mainlogo"
      svgIcon="covid"
      aria-hidden="false"
      aria-label="covid icon"
    ></mat-icon>
    <p class="display-4 app-name">
      Coronavirus MX
    </p>
    <p class="mat-h1">
      Informaci&oacute;n sobre la pandemia causada por el virus SARS-CoV2.
    </p>
  </div>
</div>
<carousel [interval]="2000">
  <slide>
    <div class="text-center py-5 bg-dark text-white">
      <h2>Gráficas</h2>
      <div class="lead">
        <h3>
          Análisis y monitoreo de las cifras de contagio
        </h3>
        <p>
          Datos locales, nacionales e internacionales
        </p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5 bg-dark text-white">
      <h2>Aspectos de impacto</h2>
      <div class="lead">
        <h3>Las diversas áreas de la vida donde afecta la pandemia</h3>
        <p>Salud, familia, trabajo, escuela, recreación, economía, política</p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5 bg-dark text-white">
      <h2>Modelos epidemiológicos</h2>
      <div class="lead">
        <h3>Modelo SIR</h3>
        <p>
          Herramienta interactiva básica para entender la evolución de la
          pandemia
        </p>
      </div>
    </div>
  </slide>
</carousel>
